

.statusHeader img {
    transition: content 225ms;
    cursor: pointer;
  }
  
  .addBtn:hover {
    transition: 225ms;
    background-color: #29abe2;
    border: 1px solid #29abe2;
  }
  
  #subtaskList {
    height: auto;
  }
  
  .descriptionCardBig {
    white-space: pre-wrap;
  }
  
  .popupOnTaskSelection {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.125s ease, visibility 0.125s ease;
    visibility: hidden;
  }
  
  .popupOnTaskSelectionMainContainer,
  .popupOnTaskEdit {
    background-color: #ffffff;
    width: 525px;
    height: 80%;
    padding: 48px 0;
    box-shadow: 0px 0px 4px 0px #00000029;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
  }
  .popupOnTaskSelectionMainContainer::-webkit-scrollbar {
    width: 8px;
  }
  .popupOnTaskSelectionMainContainer::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 100px;
  }
  
  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    padding: 4px 24px 4px 24px;
    gap: 10px;
    border-radius: 8px;
    background: #0038ff;
    color: white;
    font-weight: 300;
    text-wrap: nowrap;
    margin-top: 0;
  }
  
  .popupKategorieOnTopMainContainer {
    display: flex;
    justify-content: space-between;
    width: 445px;
    height: 36px;
    margin-bottom: 20px;
  }
  
  .closePopupMainContainer {
    width: 24px;
    height: 24px;
    top: 4px;
    left: 4px;
    gap: 0px;
    opacity: 0px;
  }
  
  .closeImg {
    width: 13.15px;
    height: 13.15px;
    top: 9.43px;
    left: 9.42px;
    gap: 0px;
    opacity: 0px;
  }
  
  .popupHeader {
    width: 445px;
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .popupSpan {
    width: 445px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .popupDateMainContainer {
    display: flex;
    width: 445px;
    height: 24px;
    gap: 25px;
    opacity: 0px;
    margin-bottom: 24px;
  }
  
  .popupDateTxt {
    width: 92px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
  
  .popUpDate {
    width: 111px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
  
  .popupPrioMainContainer {
    width: 445px;
    height: 32px;
    gap: 25px;
    opacity: 0px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }
  
  .popupPrioTxt {
    width: 73px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
  
  .popupPrioContainer {
    display: flex;
    align-items: center;
    width: 139px;
    height: 32px;
    padding: 4px 18px 4px 18px;
    gap: 10px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;
  }
  
  .popupPrio {
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
  
  .popupCapaImg {
    width: 24px;
    height: 16px;
    gap: 0px;
    opacity: 0px;
  }
  
  .popupAssignetToMainContainer {
    width: 445px;
    height: 208px;
    gap: 8px;
    opacity: 0px;
    margin-bottom: 24px;
  }
  
  .popupTest {
    display: flex;
    align-items: center;
  }
  
  .assignedToTxt {
    width: 445px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
  
  .assignedToContainer {
    width: 445px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 10px;
  }
  
  .popupAssignedUsersNameContainer {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: left;
    margin-left: 14px;
    gap: 22px;
  }
  
  .popupAssignedUserMainContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40px;
    gap: 8px;
    opacity: 0px;
  }
  
  .popupUserContainer {
    width: 445px;
    height: 56px;
    padding: 7px 16px 7px 16px;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    display: flex;
    align-items: center;
  }
  
  .popupNameIcon {
    width: 42px;
    height: 42px;
    gap: 0px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    margin-right: 24px;
  }
  
  .popupContactName {
    width: 158px;
    height: 23px;
    gap: 0px;
    opacity: 0px;
    font-family: Open Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 22.8px;
    text-align: left;
  }
  
  .subtasksMainContainer {
    width: 445px;
    margin-top: 20px;
  }
  
  .subtasksTxt {
    width: 445px;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .subtasks {
    width: 445px;
    gap: 4px;
  }
  
  .popupCheckboxContainer {
    display: flex;
    align-items: center;
  }
  
  .popupCheckbox {
    width: 24px;
    height: 24px;
    padding: 4px 0px 0px 0px;
    gap: 0px;
    border-radius: 3px 0px 0px 0px;
    opacity: 0px;
    margin-right: 20px;
  }
  
  .checkboxTxt {
    width: 272px;
    height: 19px;
    gap: 0px;
    opacity: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
  }
  
  .deleteAndEditMainContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    height: 24px;
    width: 100%;
  }
  
  .deleteContainer,
  .editContainer {
    display: flex;
    align-items: center;
    width: 81px;
    height: 24px;
    gap: 8px;
    opacity: 0px;
  }
  
  .deleteImgContainer {
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    margin-right: 40px;
    cursor: pointer;
  }
  
  .deleteImg {
    width: 18px;
    height: 20px;
    margin-bottom: 4px;
    left: 4px;
    gap: 0px;
    opacity: 0px;
    margin-right: 4px;
  }
  
  .editImgContainer {
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    cursor: pointer;
  }
  
  .editImgContainer:hover,
  .deleteImgContainer:hover {
    color: #29abe2;
  }
  
  .editImg {
    width: 18px;
    height: 20px;
    left: 4px;
    gap: 0px;
    opacity: 0px;
    margin-right: 4px;
    margin-bottom: 4px;
  }